.neutral-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-overlay {
  position: relative;
  height: 80%;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: scroll;

}
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .open-modal-btn {
    margin-left: 20px;
    padding: 8px 12px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .open-modal-btn:hover {
    background: #0056b3;
  }
  